html {
    background-color: #1f2937;
}

header {
    color: #f9faf8;
    font-size: 24px;
}

a {
    text-decoration: none;
}

.logo,
.hero-text {
    font-weight: 600;
}

.header-container {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.header-links {
    display: flex;
    gap: 22px;
    align-items: center;
}

.small-text {
    color: #e5e7eb;
    font-size: 18px;
}


.hero-text {
    font-size: 48px;
    color: #F9FAF8;
}

.film-resize {
    height: 200px;
}

.hero-container {
    display: flex;
    justify-content: center;
    padding-top: 6em;
    gap: 1.4em;
    padding-bottom: 8em;
}

.hero-left {
    width: 26em;
}

.sign-up-button {
    background-color: #3882F6;
    border-radius: 4px;
    border: solid #3882F6;
    color: #F9FAF8;
    width: 7.5em;
    text-align: center;
    margin-top: 8px;
    font-weight: 600;
    padding: 3px;
}

.info-color {
    background-color: white;
}

.img-border {
    width: 140px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.info-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 600;
    padding-top: 45px;
}

.info-images {
    display: flex;
    justify-content: center;
    gap: 3em;
    padding-top: 45px;
}

.img-text {
    width: 140px;
    color: #5f6774;
    text-align: center;
    margin: 0px;
}
